.tweets{
    border-radius: 8px;
    border-style: solid;
    border-color: black;
    background-color: #EFEFEF;
    height: 30vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
  }
  
  .tweets:hover {
    background: rgba(73, 75, 73, 0.3);
  }
  
  .tweets:activate {
    background: rgba(73, 75, 73, 0.3);
    transform: translateY(4px);
  }

  .photo{
    align-self: flex-start;
    flex: .4;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .username{
    font-size: 175%;
    color: black;
    text-align: start;
  }

  .replying{
    height: auto;
    font-size: 100%;
    color: black;
    text-align: start;
    align-self: left;
  }

  .icon-container {
    flex: .6;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10; 
  }

  .message{ 
    display: flex;
    flex: 1; 
    padding-top: 25px;
    text-align: start; 
    padding-left: 20px;
    padding-right: 20px;
 }

 .smileyIcon{
    padding-bottom: 5px;
    padding-right: 15px;
    text-align: right;  
    flex: .15;
 }